body {
    background-color: bisque;
}

h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 75px;
}

/*
table {
    font-size: 40px;
}
*/

#progress {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

#progress td, #progress th {
    border: 1px solid black;
    padding: 8px;
    font-size: large;
}

#progress tr:nth-child(even){background-color: #B4DFE5;}

#progress tr:nth-child(odd){background-color: #D2FDFF;}

#progress th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkolivegreen;
    color: white;
}
