body {
    background-color: #a2e8b5;
}

h1 {
    padding-top: 30px;
    text-align: center;
    font-family: cursive;
    font-size: 75px;
}

h2 {
    text-align: center;
    font-family: cursive;
}

#progress {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

#progress td, #progress th {
    border: 1px solid black;
    padding: 8px;
    font-size: large;
}

#progress tr:nth-child(even){
    background-color: #32a852;
}

#progress tr:nth-child(odd){
    background-color: #2ebf54;
}

#progress th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #257339;
    color: white;
}