#first {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    transition: width 2s, height 4s;
    transition-timing-function: ease-in-out;
    transition: linear 1s;
    
}

#first:hover {
    width: 300px;
    height: 150px;
    background-color: purple;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

#hidden {
    width: 200px;
    height: 100px;
    background-color: transparent;
    color: transparent;
    transition: all 1s linear;
    
}

#hidden:hover {
    width: 300px;
    height: 150px;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

#delay {
    width: 200px;
    height: 100px;
    background-color: aqua;
    transition: all 3s ease;
    transition-delay: 2s;
    
}

#delay:hover {
    width: 350px;
    height: 150px;
    background-color: green;
    color: yellow;
    text-align: right;
    padding-top: 60px;
    font-size: 40px;
}

#visible {
    color: black;
}

#visible:hover {
    color: transparent;
    padding: 10px;
}

#rotate {
    width: 200px;
    height: 100px;
    background-color: purple;
    transition: all 2s ease;
    
}

#rotate:hover {
    transform: rotate(1turn);
    background-color: darkred;
    color: white;
    padding-top: 10px;
    text-align: center;
}

#skew {
    width: 200px;
    height: 100px;
    background-color: cadetblue;
    transition: all 2s ease-in-out;
    
}

#skew:hover {
    transform: skew(30deg, 10deg);
    background-color: aquamarine;
    text-align: center;
    color: green;
    padding-top: 10px;
}

button {
    background-color: lightgray;
    transition: all .25s linear;
}

button:hover {
    font-size: 20px;
    background-color: #84b1fa;
    color: white;
    cursor: pointer;
}

#push {
    padding-bottom: 20px;
    padding-left: 10px;
}

#scale {
    width: 200px;
    height: 100px;
    background-color: darkcyan;
    transition: all 1s ease-out;
}

#scale:hover {
    transform: scale(1.5, 1.5);
    background-color: darkolivegreen;
    text-align: center;
    color: white;
    padding-top: 10px;
}

#top {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    transition: all 1s linear;
}

#top:hover {
    color: crimson;
    transform: rotate(1.0turn);
}

.transition {
    display: inline-block;
    padding: 10px
}

.transform {
    float: right;
    padding-right: 10px;
}

body {
    background-color: azure;   
}

.page-footer {
    font-size: 10px;
    transform: translate(50%);
}